@model BulsLogAgendamento.Models.Agendamento

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Container" class="control-label"></label>
                <input asp-for="Container" class="form-control" />
                <span asp-validation-for="Container" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_Book" class="control-label"></label>
                <input asp-for="Numero_Book" class="form-control" />
                <span asp-validation-for="Numero_Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NF" class="control-label"></label>
                <input asp-for="NF" class="form-control" />
                <span asp-validation-for="NF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Limite" class="control-label"></label>
                <input asp-for="Data_Limite" class="form-control" />
                <span asp-validation-for="Data_Limite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Escolhida" class="control-label"></label>
                <input asp-for="Data_Escolhida" class="form-control" />
                <span asp-validation-for="Data_Escolhida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
